button{
    width: 100px;
}

.stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

.fill {
    fill: #fff;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-width: 0.5px;
    stroke-opacity: 0.5;
}

.land {
    fill: #222;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
}

.tooltip {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.pan rect,
.zoom rect {
    opacity: 0.2;
}

.pan text,
.zoom text {
    font-size: 20px;
    text-anchor: middle;
    user-select: none;
}

.pan:hover rect,
.pan:hover text,
.zoom:hover rect,
.zoom:hover text {
    fill: blue;
}

#map{
    display: inline;
}

#svg_div{
    width: 60%;
    float: inline-start;
}

#location_info{
    width: 20%;
    float: left;
    border: 1px solid black;
    padding: 5px;
    margin-top: 200px;
    background-color: lightgray;
}