.svg{
    background-color: azure;
    padding: 30px
}

.line {
    fill: none;
    stroke: #7ba9ee;
    stroke-width: 1px;
}

.area {
    fill: #ee3f2f;
}

footer{
    margin: 0;
    padding: 50px;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    color: gray;
    background-color: lightgray;
}
